.editor-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.stnd_editor-section {
  margin-bottom: 10px;
}

.standardBomTreeCmds {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
}

.structure_info-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  margin-left: 10px;
}

.str-label {
  margin-right: 20px;
  font-weight: 600;
  min-width: 200px;
}

.structure_info-row input {
  max-width: 300px;
}

.aw-layout-panelBody.aw-base-scrollPanel.ng-pristine.ng-valid.ng-scope {
  overflow: hidden;
}

.standardBomTreeCmdsSection {
  top: 0;
}

.standardBomFolderSection {
  display: flex;
  flex-direction: column;
}

.aw-sidenav-float-right .aw-layout-panel {
  z-index: 9999 !important;
}

aw-include[name="L2_ChecklistMain"]>div>aside {
  z-index: 9999999 !important;
}

.structure_info-row {
  margin-top: 10px;
}

.stnd_editor-section:first-child {
  margin-top: 10px;
}

.standardBomListEditCmds .aw-commandBars.aw-commandBar-horizontal.ng-scope {
  display: flex;
  justify-content: flex-end;
}

.partsavesection button {
  width: 100px !important;
  margin: 0;
}

.searchTextHighLight{
  background: #ffff00 !important;
}

.standardBomListEditCmds .aw-commands-showIconLabel.aw-commands-commandIconButtonText.ng-binding {
  width: 100% !important;
}

b {
  font-weight: 600;
}

u {
  text-decoration: underline;
}