.checklistMainTable {
  border: 10px;
  border-radius: 5px;
  border-color: black;
  background-color: wheat;
}

.tui-grid-tree-icon {
  display: none;
}

.checklist-center {
  text-align: center;
}

.checklist-contents {
  word-break: break-all;
}

.checklist-open-view {
  width: 100%;
}

.product-title {
  margin-left: 50px;
  margin-top: 5px;
  font-weight: 400;
}

.checklist-draggable-false {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

table td {
  word-wrap: break-word !important;
  white-space: normal !important;
}

/**** Interaction 관련 *****/
.aw-commands-showIconLabel.aw-commands-commandIconButtonText.ng-binding {
  width: 100%;
}

/* target row  */
.tui-grid-cell.tui-grid-cell-has-input.interaction-target-select {
  background-color: #cfcfcf;
}

/* 영향 row */
.tui-grid-cell.tui-grid-cell-has-input.interaction-check {
  background-color: #cde6eb;
}

div [class='note-editable'] {
  background-color: #ffffff;
}

.checklist-job-progressing {
  background-color: black;
  opacity: 0.5;
}

/**** Filter 관련 *****/
.filter-box {
  margin-bottom: 10px;
}

.filter-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.filter-datebox {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.filter-datebox span {
  margin-right: 10px;
  margin-left: 10px;
}

.filter-more a {
  text-decoration: underline;
}

.filter-search-box {
  margin-bottom: 15px;
  max-width: 500px;
}

/* sideNav 관련 */
aside#checklist_minutes {
  width: 30%;
}

aside#checklist_createMinutes {
  width: 30%;
}

/* 전체 회의록 조회 */
aside#all_minutes_checklist {
  width: 40%;
}

/* 체크리스트 확대/축소 */
.zoom-slider {
  position: fixed;
  top: 90%;
  left: 85%;
  width: 180px;
}

.zoom-sliderBtn {
  position: fixed;
  top: 88.5%;
  left: 94.45%;
}

/* 선택된 node 하이라이트 */
.tui-grid-cell.targetRow {
  background-color: #d0f5e1;
}

/* 선택된 node 하이라이트 */
.tui-grid-cell.checklist-selected {
  background-color: #e5f6ff;
}

.checklist-clickable {
  cursor: pointer;
}

.hideEvent {
  pointer-events: none;
}

.main-anchor-cmds .aw-commands-showIconLabel.aw-commands-commandIconButtonText.ng-binding {
  width: 100% !important;
}