#border1 {
  display: block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

#imgSize {
  width: auto;
  height: 12rem;
}
.imgBox{
  width: 290px;
  height: 212px;
  overflow:hidden;
}

.minColumn {
  min-width: 360px;
}
/* aw-image-cell img {
  width: 16rem;
  height: 12rem;
} */
.star-ratings {
  color: #aaa9a9;
  position: relative;
  display: inline-block;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
}
.star-ratings-fill {
  color: orangered;
  font-size: 1.2rem;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: orangered;
}
.star-ratings-base {
  font-size: 1.2rem;
  z-index: 0;
  padding: 0;
  -webkit-text-fill-color: #aaa9a9;
}
#showPercent {
  display: inline-block;
  font-size: 0.8rem;
}
#showReview {
  display: inline-block;
  font-size: 0.8rem;
}
.mainNav,
.avatarBox {
  width: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.sideNav {
  width: 95%;
  margin: 2.5%;
}
.aw-avatar-small {
  height: 180px !important;
  width: 180px !important;
  /* clip: rect( 0px, 100%, 100% ); */
}
.navBox {
  border: 1px solid #dcdcdc;
}
.parentPosition {
  position: relative;
}
/* .positionControll {
    position : absolute;
    margin-top: 0.5%;
    margin-right: 2%;
    right: 0;
} */
.clearPositionControll {
  position: absolute;
  margin-top: 0.5%;
  margin-right: 2%;
  right: 0;
}
/* .positionControllSide {
    position : absolute;
    margin-top: 1.2%;
    margin-right: 4%;
    right: 0;
} */
.aw-base-normal a,
.aw-splm-table .aw-splm-tableCellTop .aw-splm-tableCellText {
  font-size: 1rem;
  display: inline-block;
}
.awRoot .aw-layout-panelSectionTitle label {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.folderTable .aw-splm-tableHeaderRow,
.folderTable .aw-splm-tableMenuButton {
  display: none;
}

#folderNameData .aw-jswidgets-grid,
#folderNameData .aw-jswidgets-grid .ui-grid-row {
  border: 0;
  border-radius: 0;
  border-bottom: 0;
}
.folderTable .aw-jswidgets-grid .ui-grid-cell,
.folderTable .aw-splm-tableScrollContents {
  width: 100% !important;
  margin-top: 1px;
  margin-bottom: 1px;
  height: auto !important;
}
/* .noWhite .aw-widgets-cellListCellTitleBlock,.aw-widgets-cellListCellTitleBlock h3,.aw-widgets-cellListCellTitleBlock span,.aw-widgets-cellListCellItemType, .aw-widgets-cellListCellProperties, .aw-widgets-cellListItem .aw-widgets-propertyValue{
    white-space: pre-line;
} */
/* .whiteTest .aw-widgets-cellListItem .aw-widgets-propertyValue {
    white-space: pre-line !important;
} */
.boderUp {
  border-top: solid #aaa9a9 1px;
  padding-top: 10px;
}

#linkTableAllId {
  background-color: #464646;
}

#folderNameData aw-splm-table .aw-splm-table.aw-splm-tableCanvas.ui-grid-row.aw-splm-tableCellSelected {
  border-color: #cacaca !important;
}

#linkTableAllId div div div div div div .aw-splm-tableRow {
  background-color: #707070;
}
#linkTableAllId div div div div div div .aw-splm-tableRow::before {
  content: ' \25CF';
  margin-top: 6px;
  margin-left: 10px;
}

#linkTableAllId .folderTable .aw-jswidgets-grid .ui-grid-cell,
.folderTable .aw-splm-tableScrollContents {
  margin: 0px;
}

#linkTableAllId div div div div div .aw-splm-tableRow.ui-grid-row.aw-row-icon {
  border-top: 1px solid #000000;
  padding: 5px 0;
  color: #ffffff;
}

#linkTableAllId div div div div div .aw-splm-tableRow.ui-grid-row.aw-row-icon.ui-grid-row-selected.aw-state-selected * {
  /* background-color: #cacaca; */
  font-weight: bold;
  /* color: #000000; */
  text-decoration: underline;
  /* border-color: #cacaca; */
}

#linkTableAllId div div div div div .aw-splm-tableRow.ui-grid-row.aw-row-icon.ui-grid-row-selected.aw-state-selected {
  background-color: #cacaca;
  font-weight: bold;
  color: #000000;
  /* text-decoration: underline; */
  border-color: #cacaca;
}

/* #linkTableAllId div div div div div .aw-splm-tableRow.ui-grid-row.aw-row-icon.aw-splm-tableHoverRow *{
    background-color: #cacaca;
    color: #000000;
    border-color: #cacaca;
} */

#linkTableAllId aw-splm-table .aw-splm-table .aw-splm-tableCanvas .ui-grid-row .aw-splm-tableCellSelected,
#linkTableAllId aw-splm-table .aw-splm-table .aw-splm-tableCanvas .ui-grid-row .aw-splm-tableHoverRow,
#linkTableAllId aw-splm-table .aw-splm-table .aw-splm-tableCanvas .ui-grid-row .ui-grid-cell:hover {
  border: none !important;
}

#linkTableAllId div div div div div .aw-splm-tableRow.ui-grid-row.aw-row-icon.aw-splm-tableHoverRow {
  background-color: #cacaca;
  color: #000000;
  border-color: #cacaca;
}

#addFolder {
  margin: 15px;
}

#addFolder div a {
  color: #ffffff;
  font-weight: bold;
}

.marginNobottom {
  margin: 15px 15px 0px 15px;
}

.inBgColor {
  background-color: #464646;
}

#panelId {
  padding: 0px;
}

#myDocument {
  margin-bottom: 10px;
}

.GoToPostedBtnClass {
  padding: 10px 25px;
}

.marginBottom {
  margin-bottom: 10px;
}

#imageListId div div div ul .aw-widgets-cellListItemSelected {
  background-color: transparent !important;
  border-color: transparent;
}

#imageListId div div div ul li:hover {
  background-color: transparent !important;
  border-color: transparent;
}

#imageListId div div div ul .aw-widgets-cellListItemSelected div div div.imgBox {
  border: 7px solid #d81d3c;
}

#imageListId div div div ul li:hover div div div.imgBox {
  border: 7px solid #d81d3c;
}

#imageListId div div div ul li div div div.imgBox {
  border: 7px solid transparent;
}

#imageListId div div div ul .aw-widgets-cellListItemSelected div div div h2 {
  font-weight: 900;
  /* text-decoration: underline; */
  /* font-size: 1.2rem !important; */
  color: darkred;
}

#imageListId div div div ul li:hover div div div h2 {
  font-weight: 900;
  /* text-decoration: underline; */
  /* font-size: 1.2rem !important; */
  color: darkred;
}

#expertListId div div div ul li ng-transclude group-header-cell a {
  color: darkred;
  font-weight: bold;
}

.dataDefaultCell div div aw-default-cell-content div .aw-widgets-cellListCellItemType.aw-base-small.ng-scope.ng-isolate-scope {
  font-size: 0.8rem;
  color: gray;
}

#qnaListId div div div ul li ng-transclude group-header-cell a {
  color: darkred;
  font-weight: bold;
}

.dataDefaultCell div div aw-default-cell-content div .aw-widgets-cellListCellItemType.aw-base-small.ng-scope.ng-isolate-scope {
  font-size: 0.8rem;
  color: gray;
}

#folderNameData .aw-widgets-cellListCellImage img {
  border-radius: 70%;
  overflow: hidden;
}

#folderNameData .aw-sidenav-push {
  z-index: 999;
}
