/* minutes Main */
.marginUp {
  margin-top: 20px;
}

.firstRow1 {
  align-items: self-end;
  margin-left: 50%;
}

.firstRow1 .aw-widgets-propertyLabelTopValueContainer {
  margin-left: -50px;
}

.marginLeft {
  margin-left: 10px;
}

.positionControll {
  display: inline-block;
}

#marginLeft {
  margin-top: 12px;
  margin-right: 5px;
}

.fontRed {
  color: red;
}

.leftPadding {
  margin-left: 0px;
}
.listClass .aw-widgets-cellListCellImage img {
  border-radius: 70%;
}

.listClass .aw-widgets-cellListItemContainer {
  position: relative;
}

.goodMove {
  position: absolute;
  top: 20%;
  right: 10%;
}

.borderShadow {
  border: solid 1px lightgray;
  box-shadow: 1px 1px 2px 0px lightgray;
}

.borderShadow2 {
  border: solid 1px lightgray;
  box-shadow: 1px 1px 2px 0px lightgray;
  background-color: rgb(234, 234, 234);
}

.question {
  border: solid 1px lightgray;
  box-shadow: 1px 1px 2px 0px lightgray;
}

.listHeight .aw-widgets-cellListCellImage img {
  border-radius: 70%;
}

.qaWriteDate {
  margin-bottom: -18px;
}

.noMaxWidth {
  margin: 0px 0px 0px 15px;
  min-width: 100px;
}

.noMaxWidth .aw-widgets-propertyLabelTopValueContainer {
  -webkit-box-flex: 0;
  flex: 0;
  max-width: 0;
  min-width: 0;
  width: 0px;
}

/* #qnaDatas .aw-widgets-cellListItemContainer {
      border-bottom: solid 1px lightgray;
  } */

.lblHeight {
  height: 25px;
  margin: 0px 15px;
  min-width: 500px;
  /* max-width: 180px; */
}

.lblHeightParticipant .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  width: 100px;
  height: 25px;
  margin: 0px 15px;
  min-width: 155px;
}

.lblHeightParticipant .aw-widgets-propertyLabelTopValueContainer {
  margin-left: 9%;
}

.lblHeightParticipant .aw-widgets-propertyContainer.aw-layout-flexRow {
  flex-wrap: nowrap;
}

.lblHeight .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  width: 110px;
}

.lblHeight2 .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  width: 100px;
  height: 25px;
  margin: 0px 15px;
  min-width: 155px;
}

.lblHeight3 .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  width: 100px;
  height: 25px;
  margin: 0px 15px;
  min-width: 155px;
}

aw-label.lblHeight3.ng-scope.ng-isolate-scope {
  margin-left: 1.6%;
}

.question.aw-layout-panelSection.ng-scope.ng-isolate-scope {
  width: 99.8%;
}

.question.aw-layout-panelSection.ng-isolate-scope {
  width: 99.8%;
}

.rightArea.aw-flex-column.ng-scope.ng-isolate-scope.afx-fill {
  padding: 0.7% 0.7% 1% 0.9%;
}

.lblHeightExpertField {
  height: 25px;
  margin: 0px 15px;
}

.lblHeightWriterExpert {
  margin: 12px 15px -3px;
  /* max-width: 180px; */
}

.listHeight {
  height: 37px;
}

.btnAdopt {
  width: 50px;
}

.answerSection {
  margin-bottom: 30px;
  border: solid 1px lightgray;
  box-shadow: 1px 1px 2px 0px lightgray;
  width: 100%;
  float: right;
}

.answerSection .aw-widgets-cellListItem {
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px rgb(170, 170, 170);
  width: 80%;
  align-self: self-start;
}

.noPostCSS .aw-flex-row.ng-scope.ng-isolate-scope.afx-fill {
  justify-content: center;
}

aw-command-bar#commandColorId2 {
  text-align-last: center;
}

#commandColorId2 div aw-command[command-id='3'] button div {
  color: rgb(215, 28, 59) !important;
  font-weight: bold !important;
}

#commandColorId2 div aw-command[command-id='2'] button div {
  color: rgb(0, 123, 182) !important;
  font-weight: bold !important;
}

#commandColorId2 div aw-command[command-id='1'] button div {
  font-weight: bold !important;
}

#commandColorId2 div aw-command[command-id='0'] button div {
  font-weight: bold !important;
}

#commandColorId2 .aw-commandIcon {
  display: none;
}

#actionItemCommandColorId div aw-command[command-id='2'] button div {
  color: rgb(215, 28, 59) !important;
  font-weight: bold !important;
}

#actionItemCommandColorId div aw-command[command-id='1'] button div {
  color: rgb(0, 123, 182) !important;
  font-weight: bold !important;
}

#actionItemCommandColorId div aw-command[command-id='0'] button div {
  font-weight: bold !important;
}

#actionItemCommandColorId .aw-commandIcon {
  display: none;
}

#fieldSize div aw-property-label {
  max-width: 100px;
}

.separatorHeight {
  width: 98%;
  align-self: center;
  padding: 0px;
}

#radioStatus aw-property-label.ng-scope.ng-isolate-scope {
  display: none;
}

#radioStatus .aw-widgets-propertyLabelTopValueContainer {
  margin-top: 2.5%;
}

#radioStatus ::after {
  margin-left: -1%;
}

.separatorHeight2.aw-theme-separator.ng-isolate-scope.aw-xrt-separator {
  align-self: center;
  width: 98%;
  margin-left: 1%;
  margin-top: -1%;
}

.AISeparatorHeight.aw-theme-separator.ng-isolate-scope.aw-xrt-separator {
  align-self: center;
  margin-top: -1%;
}

#actionItemDateLbl .aw-layout-flexRowContainer.ng-scope {
  margin-left: -21.4%;
}

.lilBot .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  width: 51px;
}

.question .aw-widgets-propertyContainer > aw-property-label {
  text-align: left;
  max-width: 100px;
  margin-right: 50px;
}

.aw-widgets-propertyNonEditValue > .aw-layout-flexRowContainer {
  min-width: max-content;
}

.tableMargin .aw-jswidgets-gridCellCommands.aw-widgets-cellInteraction.ng-scope.aw-splm-tableCompiledElement.aw-splm-tableGridCellCommands {
  display: none;
}

.tableMargin .aw-splm-table .aw-splm-tableCellTop.xlarge,
.aw-splm-table .aw-splm-tableCellTop.medium.oversize {
  height: calc(100%);
  width: calc(100% - 4px);
  margin: 4px;
}

#noScrollbar ::-webkit-scrollbar {
  display: none;
}

aw-scrollpanel#actionItemScroll {
  margin-top: -1.19%;
}

#addAnswerCss {
  margin: 0px 10px;
}

.connectBtn button.aw-base-blk-button.ng-scope.ng-isolate-scope.aw-accent-highContrast.aw-base-size-auto {
  margin-left: 88%;
  margin-top: 0%;
}

.connectBtn.aw-flex-column.ng-scope.ng-isolate-scope.afx-fill {
  height: 38px;
}

button#actionItemDetailId {
  margin-right: 23%;
}

aw-list#connectChecklist {
  width: -webkit-fill-available;
}

#checklistConnectPopup aw-command.ng-scope {
  display: none;
}

#actionItemDateLblInNewTab .aw-layout-flexRowContainer.ng-scope {
  margin-left: -10.6%;
}

#newTabView .aw-widgets-propertyLabelTop.ng-binding {
  width: 125px;
}

/* minutes Chart */
.relativeE {
  z-index: 9;
  margin-top: 20px;
  margin-left: 20px;
}

.chartSize {
  height: auto;
}

.sectionCss {
  height: 0px;
}

/* minutes Popup */
.reHeight .ng-scope.ng-isolate-scope .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  height: 30px;
}
.listReHeight
  .ng-isolate-scope
  .aw-widgets-propertyContainer
  .ng-scope.ng-isolate-scope
  .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  height: 25px;
}
.reHeight .aw-widgets-propertyContainer.aw-layout-flexRow {
  height: 25px;
}

/* .noMaxWidth div .ng-isolate-scope {
      max-width: 100px;
  }
  
  .noMaxWidth {
      margin: 0px 15px -10px;
      min-width: 226px;
  } */

.changeWhite {
  background-color: white;
}

.insideMargin {
  margin: 16px;
}

#chipStyle .aw-widgets-chip .aw-widgets-chipCheckmark {
  display: none;
}

/* 팝업 */
.addPopupLabelCSS .propertyLabelTopContainer.aw-layout-flexRow.aw-widgets-justifySpaceBetween.aw-widgets-spaceBetween {
  width: max-content;
}

.btn-upload {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
}

.btn-upload:hover {
  background: rgb(77, 77, 77);
  color: #fff;
}

#fileUpload {
  display: none;
}

#createFileUpload {
  display: none;
}

div#createUploadList {
  width: 100%;
  padding-bottom: 2%;
}

div#createPreview {
  width: 100%;
  border: solid;
  border-color: black;
  border-width: thin;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
}

#editFileUpload {
  display: none;
}

div#editUploadList {
  width: 100%;
  padding-bottom: 2%;
}

div#editPreview {
  width: 100%;
  border: solid;
  border-color: black;
  border-width: thin;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
}

p.uploadFileList {
  padding: 1%;
}

button.file-remove {
  height: auto;
  margin-left: 1%;
  border-radius: 25%;
  width: 4%;
  background-color: #747474;
  color: rgb(255, 246, 226);
}

/* 필터 */
aside#commonMinutes_filter {
  width: 18%;
}

.checkboxPosit.aw-flex-row.ng-scope.ng-isolate-scope.afx-fill {
  flex-direction: column;
}

.filter-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

div#between {
  padding: 3.5% 3.7% 0 3%;
}
