.table-container {
  padding: 10px;
  min-width: 800px;
}

#interaction-init-select {
  background-color: #cfcfcf;
}

#interaction-same {
  background-color: #cde6eb;
}

.dfmea-listbox {
  border: none;
  background-color: inherit;
}

.dfmea-listbox:hover {
  background-color: inherit;
}

#dfmeaTable.aw-splm-table .aw-splm-tableCellContents.aw-splm-tableHeaderCellContents {
  display: flex;
  justify-content: center;
}

#dfmeaTable .aw-splm-tableHeaderCell {
  border-top: 2px solid #aaaaaa !important;
  border-bottom: 2px solid #aaaaaa !important;
}
