
.aw-commands-showIconLabel.aw-commands-commandIconButtonText.ng-binding{
    width: 100% !important;
}

.dmasterList-table-command-header div aw-command {
    float: left;
}

.dmasterList-table-command-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

.sheet-table .aw-splm-tableRow[aria-level='2']:hover {
    cursor: pointer;
}

.text-row {
    display: flex;
}

.dmaster-table-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.dmaster-table-controller button {
    width: 100px;
    height: 35px;
    margin: 0 15px 0 0;
}

.controller-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checklist-tree-container {
    padding: 10px;
}

.label-column {
    min-width: 250px;
}

.text-row{
    margin-top: 10px;
}

.product-title{
    margin-left: 50px;
    margin-top: 5px;
    font-weight: 400;
}

.sheet-table .aw-splm-tableHeaderCellSplitter {
    border-right-width: 0.2px;
    width: 1px;
}

.sheet-table .aw-splm-tableRow[draggable="true"]{
    border-bottom: 2px solid #dcdcdc;
}

.sheet-table .ui-grid-cell{
    border-right: 1px solid #dcdcdc !important;
}