<style>
    .aw-layout-flexRow {
        font-weight: bold;
    }

</style>


<div class="aw-layout-headerLeft aw-layout-flexRowContainer aw-layout-locationTitlePanel">
    <!-- Header Title Area -->
    <!-- hello-->
    <div class="aw-layout-flexColumnContainer">
        <div class="aw-layout-headerIcon" ng-if="headerVMO">
            <aw-model-icon ng-if="headerVMO.props" vmo="headerVMO"></aw-model-icon>
        </div>
    </div>
    <div class="aw-layout-flexColumn">
        <h1 class="aw-layout-locationTitle aw-layout-flexRow">{{headerTitle}}</h1>
        <!-- Header Properties -->
        <div class="aw-layout-headerPropContainer aw-layout-flexRowContainer">
            <aw-visual-indicator ng-if="headerVMO.indicators.length > 0" vmo="headerVMO"></aw-visual-indicator>
            <aw-header-props headerProperties="headerProperties"></aw-header-props>
        </div>
    </div>
</div>
<!-- Narrow Mode Summary Title -->
<!-- <div class="aw-layout-summaryLocation">
    <div class="aw-base-summaryOnlyBackButton">
        <aw-icon icon-id="miscChevronLeft" ng-click="onClickNarrowSummaryTitle()"></aw-icon>
    </div>
    <a class="aw-base-tabTitle" ng-click="onClickNarrowSummaryTitle()" ng-attr-title="{{headerTitle}}">{{headerTitle}}</a>
</div> -->
